.exciting-text::after {
  content: " <- ZÁBAVNÝ!";
  color: green;
}

.exciting-text::before {
  content: "ZÁBAVNÝ! -> ";
  color: blue;
}

.boring-text::after {
  content: " <- NUDNÝ";
  color: red;
}

.boring-text::before {
  content: "NUDNÝ -> ";
  color: orange;
}