.container1 {
	display: grid;
}

.container2 {
	display: block;
}

article {
  background-color: silver;
}

article span {
  background-color: teal;
  color: white;
  margin: 1px;
}

article, span {
  padding: 10px;
  border-radius: 7px;
}