div {
	  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  from { margin-left: -20%; } to { margin-left: 100%; }
  from {background-color: red;} to {background-color: yellow;}
}