.box {
  background-color: rgba(255, 255, 255, 0.3);
 -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 20px 40px;
}
body {
  background-image: url(_IGP3577_200.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}