span {
  border: 5px solid blue;
  padding:  0em 1em;
  border-radius: 16px;
  font-size: 20px;
  line-height: 2;
}

span.clone { 
  -webkit-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;
}

span.slice { 
  -webkit-box-decoration-break: slice;
  -o-box-decoration-break: slice;
  box-decoration-break: slice;
}

div {
  width: 450px;
}