table {
	border: 1px solid blue;
	width: 200px;
}

td {
	border: 1px solid red;
	width: 100px;
}

caption {
	border: 1px solid orange;
}

.top {
	caption-side: top;
}

.bottom {
	caption-side: bottom;
}