div{
	background-color: rgba(16, 99, 71, 0.5);
	border: 5px solid rgb(16, 99, 71);
}

.with_margin {
	margin: 10px 50px 20px 0;
	background-color: rgba(250, 99, 71, 0.5);
	border: 5px solid rgb(250, 99, 71);
}