div {
	height: 200px;
	border-radius: 20%;
	background-color: aliceblue;
	text-align: center;
	transition: all 1s ease-out;
}

div:hover {
	background-color: darkmagenta;
	font-size: 40px;
	color: white;
}