.violet {
	background-color: rgba(163, 96, 237, 0.4);
	position: absolute;
	right: -40px;
	z-index: 3;
}

.grey {
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	left: -60px;
	top: -20px;
	z-index: 2;
}

.outlined {
	border: 2px dotted black;
	position: relative;
	z-index: 1;
}